<div class="container">
    <div class="cont">
        <div class="item">
            <label for="">Ime</label><br>
            <input type="text" name="" id=""><br><br>
            <label for="">Email</label><br>
            <input type="text" name="" id="">
            <button>Pošalji poruku</button>
        </div>
        <div class="item">
            <label for="">Poruka</label><br>
            <input type="text" name="" id="" style="height: 100%;">
        </div>
        <div class="item">
            <p>Adresa: <br> Ulica 100</p><br>
            <p>Broj telefona: <br> 061-100-00</p><br>
        </div>
    </div>
</div>