<div class="container">
    <div class="cont">
        <div class="cont cont2">
            <h1>Odaberite ligu: </h1>
            <select name="" id="">
                <option value="">Jedan</option>
                <option value="">Dva</option>
            </select>
            <button (click)="action()">Detalji lige</button>
        </div>
        <div class="cont" style="padding: 10px; height: 250px;">
            <div style="position: absolute;left:50%; transform: translate(-50%);font-weight: bolder;font-size: 24px;">OPŠTA PRAVILA LIGE</div>
            <p>
                <b>1.</b> Pravo učešća imaju svi igrači koji igraju na terenima našeg teniskog centra.<br>
                <b>2.</b>Početna (preliminarna) rang lista formirana je na bazi rezultata u prethodnoj ligi centra.<br>
                <b>3.</b>Novi učesnik lige rangira se na posljednje mjesto liste.<br>
                <b>4.</b>Lista se može proširivati po potrebi u zavisnosti od interesa<br>
                <b>5.</b>Mečevi se igraju prema dogovoru između pojedinih igrača i u zavisnosti od raspoloživih terena, uz koordinaciju osoblja centra.<br>
                <b>6.</b>Mečevi se uglavnom igraju u dane vikenda (subotom i nedjeljom) i radnim danima ukoliko ima slobodnih terena.<br>
            </p>
        </div>
    </div>
</div>