<div class="container">
    <div class="cont">
        <div class="lijevi">
            <table>
                <thead>
                    <tr>
                        <th>Tabela</th>
                    </tr>
                    <tr>
                        <th>Ranking</th>
                        <th>Ime i prezime</th>
                        <th>Bodovi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ajdin Vreto</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Edin Purivatra</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Nedim Zukan</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="desni">
            <table>
                <thead>
                    <tr>
                        <th>Raspored meceva: </th>
                    </tr>
                    <tr>
                        <th>Mec</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ajdin Vreto vs Nedim Zukan</td>
                        <td>08/12/2020</td>
                    </tr>
                    <tr>
                        <td>Nedim Zukan vs Edin Purivatra</td>
                        <td>09/12/2020</td>
                    </tr>
                    <tr>
                        <td>Ajdin Vreto vs Edin Purivatra</td>
                        <td>10/12/2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>