<div class="container">
    <div class="cont">
        <div class="lijeva">
            <div class="lijeva2">
                <h3>Pretraga proizvoda: </h3><br>
                <input type="text" name="" id="">
            </div>
        </div>
        <div class="desna">
            <div class="lijeva2">
                <h3>Filter proizvoda: </h3><br>
                <select>
                    <option value="">Nesto</option>
                </select>
            </div>
        </div>
        <div class="nesto">
            <div class="item">
                <h4>Reket</h4>
                <img src="../../assets/hci.png" alt="" width="225px"><br>
                <h3>50KM</h3>
            </div>
            <div class="item">
                <h4>Top za loptice</h4>
                <img src="../../assets/hci.png" alt="" width="225px"><br>
                <h3>250KM</h3>
            </div>
            <div class="item">
                <h4>Set loptica</h4>
                <img src="../../assets/hci.png" alt="" width="225px"><br>
                <h3>15KM</h3>
            </div>
    </div>
</div>